@import 'settings/colors';


// sp
@media screen and (max-width: 1120px) {
  .l-siteContent {
    margin-top: 20px;
    
    .l-contentArea {
      padding: 0 .5rem;
    }

    .p-postGrid {
      margin-bottom: 1.5rem;
    }

    h1.page-title {
      font-size: 19/16rem;
    }

    .p-entryTitle {
      font-size: 19rem/16;
    }
  }
}

// pc
@media screen and (min-width: 1120px) {
  .l-siteContent {
    display: flex;
    margin-top: 50px;

    .l-mainSection {
      width: 777px;
      margin-right: 43px;
      box-sizing: border-box;
    }

    h1.page-title {
      font-size: 1.8rem;
    }
  }
}


.l-siteContent {
  h1.page-title {
    text-align: center;
  }
}