@import 'settings/colors';

body {
  background-color: $bg-color;
}
.main-header-clone {
  display: none;
}

// layout
// sp
@media screen and (max-width: 1120px) {
  .l-siteContent {
    max-width: 500px;
  }
}
// pc
@media screen and (min-width: 1120px) {
  .l-mainSection {
    width: 777px;
    margin-right: 43px;
  }
}

.l-siteContent {
  padding: 0;
}
.l-mainSection {
  box-sizing: border-box;
}

// global parts
// sp
@media screen and (max-width: 1120px) {
  .g-postDate {
    font-size: .9rem;
  }
}
// pc
@media screen and (min-width: 1120px) {
  .g-postDate {
    font-size: 1rem;
  }
}
.g-postDate {
  color: $sub-black;
}
.g-postTitle {
  color: $title-black;
  font-weight: bold;
}

// font-awesome
.fa-instagram {
  color: $ig-color;
}
.fa-twitter {
  color: $tw-color;
}