@import 'settings/colors';

body {
  background-color: $bg-color;
}
.main-header-clone {
  display: none;
}

// 10記事で解放
.l-globalMenuArea {
  display: none;
}

// layout
@media screen and (max-width: 1120px) {
  .l-siteContent {
    max-width: 500px; 
  }
}
@media screen and (min-width: 1120px) {
  .l-mainSection {
    width: 777px;
    margin-right: 43px;
  }
}
.l-siteContent {
  padding: 0;
}
.l-mainSection {
  box-sizing: border-box;
}

// global parts
@media screen and (min-width: 1120px) {
  .g-postDate {
    font-size: 1rem;
  }
}
@media screen and (max-width: 1120px) {
  .g-postDate {
    font-size: .9rem;
  }
}
.g-postDate {
  color: $sub-black;
}

// font-awesome
.fa-instagram {
  color: $ig-color;
}
.fa-twitter {
  color: $tw-color;
}