@import 'settings/colors';


@media screen and (min-width: 1120px) {
  .l-siteFooter {
    height: 190px;
    padding: 38px 0 37px;

    .p-footerLinkList {
      margin: 0 0 32px;
    }
  }

  .p-footerLinkList {
    font-size: 15rem/16;

    li {
      padding: .2rem 1.5rem;
      border-left: 2px solid $title-black;

      &:last-child {
        border-right: 2px solid $title-black;
      }
    }
  }

  .p-allRightsReserved {
    font-size: 14rem/16;
  }
}

@media screen and (max-width: 1120px) {
  .l-siteFooter {
    height: 100px;
    padding: 16px 0 15px;

    .p-footerLinkList {
      margin: 0 0 15px;

      li {
        padding: .1rem 1rem;
        border: none;
      }
    }
  }

  .p-footerLinkList {
    font-size: 12.5rem/16;
  }
  
  .p-allRightsReserved {
    font-size: 12rem/16;
  }
}


.l-siteFooter {
  background: #fff;
  box-sizing: border-box;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);

  .p-footerLinkList {
    display: flex;
    justify-content: center;
    list-style-type: none;
    text-align: center;
    font-weight: bold;

    li {
      a {
        color: $title-black;
      }
    }
  }

  .p-allRightsReserved {
    text-align: center;
    color: #777;
  }
}