@import 'settings/colors';

.c-sidebarElement {
  margin-bottom: 30px;
  border: 1px inset #9F9F9F;
  box-shadow: 2px 2px 4px 0px rgb(0 0 0 / 25%);

  .c-sidebarHeader {
    height: 40px;
    line-height: 40px;
    font-size: 20rem/16;
    color: #fff;
    background: $main-color;
    text-align: center;
    font-weight: bold;
  
    i {
      margin-right: .3rem;
    }
  }

  .c-sidebarContent {
    background: #fff;
  }

  .p-profContent {
    padding: 5px 28px 20px;
    text-align: center;

    .a-profImg {
      margin: 5px 0;
      width: 170px;
      height: 170px;
    }

    .a-profName {
      color: $title-black;
      font-size: 20rem/16;
      font-weight: 600;
    }

    .a-profDescription {
      color: $paragraph-black;
      margin: 15px 0 20px;
      text-align: left;
      font-size: 15rem/16;
      line-height: 25px;
    }

    .a-profSNSHeader {
      color: $sub-black;
      margin: 5px 0;
      font-size: 1rem;
      line-height: 1;
    }

    .a-profSNSIcons {
      font-size: 45rem/16;
      line-height: 1;
    }
  }

  .p-igContent {
    padding: 10px;

    .p-igAccount {
      display: flex;
      align-items: center;

      .a-igAccountImg {
        margin-right: 10px;
      }

      .a-igAccountId {
        font-size: 17rem/16;
        line-height: 1;
        margin-top: 17rem/16;
        color: $title-black;
      }

    }

    .a-igFollowBtn {
      display: block;
      max-width: 251px;
      margin: 10px auto;
      padding: .1rem;
      text-align: center;
      color: $sub-black;
      font-size: 20rem/16;
      line-height: 1;
      background: $bg-color;
      border-radius: 4px;
      border: 1px solid #ccc;
      box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);

      &:hover {
        cursor: pointer;
      }

      .fa-instagram {
        font-size: 2rem;
        vertical-align: sub;
      }
    }
  }

  .p-archiveContent {
    padding: 25px;

    .a-archiveList {
      list-style-type: none;
    }
  }

  .p-categoryContent {
    padding: 25px;

    .a-categoryList {
      list-style-type: disclosure-closed;
      margin-left: 1.5rem;

      li {
        margin-bottom: .5rem;
      }
    }
  }

  .c-sidebarList {
    margin: 0;
    font-size: 1rem;

    a {
      color: $paragraph-black;
    }
  }
}