@import 'settings/colors';

// sp
@media screen and (max-width: 1120px) {
  .l-siteMain {
    margin: 20px 5px;
  }

  article.post {
    padding: 20px 5px;
  }

  .p-entryHeader {
    margin-bottom: 2rem;
  }

  .p-postTitleArea {
    border-radius: 55px/2 0 0 55px/2;
    box-shadow: 2px 3px 1px 0 $main-color;

    h1.a-postTitle {
      font-size: 19rem/16;
      padding: 0 .3rem;
    }

    .a-postTitleBefore {
      height: 55px;

      i {
        font-size: 55px;
        width: 55px;
      }
    }
  }

  .p-postDate {
    margin: 6px 0 3px;
  }
  
  // 目次プラグイン上書き
  div#toc_container {
    padding: 20px 30px;
    margin: 20px 0;

    li {
      font-size: 15rem/16;
    }
  }

  .p-entryContent {
    h2 {
      margin: 20px 0 14px;
      font-size: 18rem/16;
      border-left: 15px solid $main-color;
      padding: .3rem .4rem;
    }

    h3 {
      font-size: 17.5rem/16;
      margin: 20px 0 14px;
      border-left: 8px solid $main-color;
      padding: .2rem 1rem;
    }

    p {
      font-size: 15rem/16;
      margin-bottom: .8rem;
    }
  }

  .p-relatedPostsHeader {
    font-size: 19rem/16;
    margin-top: 100px;
  }

  .l-relatedPostsArea {
    padding: 8px 0;

    .p-relatedPost {
      margin-bottom: 1rem;
    }

    .p-relatedPostTitle a {
      font-size: 18rem/16;
      line-height: 22rem/16;
    }
  }
}

// pc
@media screen and (min-width: 1120px) {
  .l-siteContent {
    display: flex;
    margin-top: 40px;

    .l-postContentArea {
      margin-right: 43px;

      .l-siteMain {
        width: 775px;
      }
    }

    article.post {
      padding: 30px 17px;
    }
  }

  .a-postEyecatch {
    width: 741px;
    height: 494px;
  }

  .p-postTitleArea {
    border-radius: 50px 0 0 50px;
    box-shadow: 3px 6px 1px 0 $main-color;

    .a-postTitleBefore {
      height: 100px;
    }

    h1.a-postTitle {
      font-size: 25rem/16;
      padding-left: .8rem;
    }

    i {
      font-size: 100px;
      width: 100px;
    }
  }

  .p-postDate {
    margin: 7px 0;
  }
  
  // 目次プラグイン上書き
  div#toc_container {
    padding: 25px 46px;
    margin: 40px 0;

    li {
      font-size: 18rem/16;
  
      li {
        font-size: 17rem/16;
      }
    }
  }

  .p-entryContent {
    h2 {
      margin: 40px 0 20px;
      font-size: 23rem/16;
      border-left: 25px solid $main-color;
      padding: .3rem 1rem;
    }

    h3 {
      margin: 30px 0 20px;
      font-size: 22rem/16;
      border-left: 15px solid $main-color;
      padding: .2rem 1rem;
    }

    p {
      font-size: 17rem/16;
      margin-bottom: 17rem/16;
    }
  }

  .p-relatedPostsHeader {
    font-size: 24rem/16;
    margin-top: 70px;
  }

  .l-relatedPostsArea {
    display: flex;
    flex-wrap: wrap;
    column-gap: 21px;
    row-gap: 30px;
    padding: 15px 0;

    .p-relatedPost {
      width: 360px;

      .p-relatedPostImg img {
        height: 240px;
      }

      .p-relatedPostTitle a {
        font-size: 19rem/16;
        line-height: 28rem/16;
      }
    }
  }
}

.l-siteContent {
  .l-postContentArea {
    .l-siteMain {
      background: #fff;
      border: 1px solid #aaa;
      border-radius: 10px;
    }
  }
}

article {
  padding: 30px 17px;
}

.p-postTitleArea {
  display: flex;
  align-items: center;
  background: $bg-gray;

  .a-postTitleBefore {
    background: $main-color;
    color: #fff;
    border-radius: 50%;
    position: relative;
    
    i {
      transform: scale(.65);
    }
  }

  h1.a-postTitle {
    display: inline-block;
    margin: auto;
  }
}

.p-postDate {
  text-align: right;
}

.a-postEyecatch {
  margin: 0 auto;

  img {
    height: 100%;
    width: 100%;
  }
}

// 目次プラグイン上書き
div#toc_container {
  box-sizing: border-box;
  border-left: none;
  border-right: none;

  p.toc_title {
    color: $title-black;
    text-align: left;
    font-size: 22rem/16;
  }

  li {
    font-weight: 500;

    .toc_number {
      margin-right: .5rem;
    }
  }


  a {
    color: $paragraph-black;

    &:hover {
      text-decoration: none;
    }
  }
}

.p-entryContent {
  h2 {
    background: $bg-gray;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  }

  p {
    color: $paragraph-black;
  }

  img {
    width: 100%;
  }
}

// 関連記事
.p-relatedPostsHeader {
  color: $title-black;
  font-weight: bold;

  i.fa-paperclip {
    margin-left: .3rem;
    margin-right: .7rem;
  }
}

.l-relatedPostsArea {
  box-sizing: border-box;
  border-width: 1px 0px;
  border-style: solid;
  border-color: #888888;

  .p-relatedPost {
    .p-relatedPostText {
      margin-top: .5rem;
    }

    .p-relatedPostTitle a {
      color: $title-black;
      font-weight: bold;
    }
  }
}