@import 'settings/imgs';
@import 'settings/colors';

@media screen and (min-width: 490px) {
  .l-contentWrapper {
    width: 450px;
    margin: auto;
  }
}

.l-siteMain {
  background-image: $bg-img-gray;
}

.p-allNewsList {
  list-style: none;
  margin: 0;
  padding: 0;

  li::before {
    content: "\200B";
  }
}

a.p-singleNewsLink {
  display: block;
  color: $main-black;
}

article {
  border-bottom: 4px double $border-gray;
  padding-bottom: 0.5rem;

  .c-newsTitle {
    font-size: 20rem/16;
    margin: .6em 0;
  }

  p {
    margin: .5em 0;
    font-size: .9rem;
    color: $paragraph-black;
  }

  time {
    display: block;
    text-align: right;
    font-size: .85rem;
  }
}