@import 'settings/colors';
@import 'settings/sizes';
@import 'settings/fonts';

@font-face {
  font-family: 'Kaisei Opti';
  src: url('../../lib/fonts/KaiseiOpti/KaiseiOpti-Regular.ttf') format("truetype");
}

@font-face {
  font-family: 'Noto Sans JP';
  src: url('../../lib/fonts/NotoSansJP/NotoSansJP-Regular.otf') format("opentype");
}

@keyframes figcaptionFadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes figcaptionFadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.site-content {
  padding-top: $header-height;
}

html {
  font-size: 16px;
}

body {
  font-family: $normal-font;
  color: $main-black;
}

.l-contentWrapper {
  margin: 0 20px;
}

.c-mainHeader {
  font-family: $header-font;
  font-size: 24rem/16;
  text-align: center;
  margin: 0;
  padding: .5rem 0;
  line-height: 2.2;

  &::after {
    content: '';
    display: block;
    width: 40px;
    border-bottom: 4px double;
    margin: auto;
  }
}

.c-subHeader {
  font-family: $header-font;
  color: $main-brown;
  display: inline-block;
  
  &::after {
    content: '';
    color: $main-black;
    display: block;
    border-bottom: 4px double;
  }
}

a {
  text-decoration: none;
}

time {
  color: $date-gray;
}

ul.u-listStyleNone {
  list-style: none;
  margin: 0;
  padding: 0;

  li::before {
    content: "\200B";
    position: absolute;
  }
}

// WP組み込みページネーション
.posts-navigation {
  margin-top: .8rem;

  .nav-links {
    display: flex;
    // 前と次がわかりづらいため反転
    flex-flow: row-reverse;
    justify-content: space-between;
  
    a {
      display: inline-block;
      padding: 1.2rem 0;
      color: $main-black;
      font-weight: bold;
      font-size: 1.1rem;
    }

    i {
      vertical-align: middle;
    }

    i.fa-angle-left {
      margin-right: .5em;
    }

    i.fa-angle-right {
      margin-left: .5em;
    }
  }
}

.p-topImgSlide {
  display: none;
}

.p-topImgSlide.slick-initialized {
  display: block;
}

.c-f19 {
  font-size: 19rem/16;
}

.c-f17 {
  font-size: 17rem/16;
}

.c-f16 {
  font-size: 1rem;
}