@import 'settings/colors';
@import 'settings/sizes';

@font-face {
  font-family: 'Kaisei Opti';
  src: url('../../lib/fonts/KaiseiOpti/KaiseiOpti-Regular.ttf') format("truetype");
}

@font-face {
  font-family: 'Noto Sans JP';
  src: url('../../lib/fonts/NotoSansJP/NotoSansJP-Regular.otf') format("opentype");
}

@keyframes figcaptionFadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes figcaptionFadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.site-content {
  padding-top: $header-height;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Noto Sans JP';
  color: $main-black;
}

.c-mainHeader {
  font-family: 'Kaisei Opti';
  font-size: 24rem/16;
  text-align: center;
  margin: 0;
  line-height: 2.5;

  &::after {
    content: '';
    display: block;
    width: 40px;
    border-bottom: 4px double;
    margin: auto;
  }
}

a {
  text-decoration: none;
}

.p-topImgSlide {
  display: none;
}

.p-topImgSlide.slick-initialized {
  display: block;
}

.c-f19 {
  font-size: 19rem/16;
}

.c-f17 {
  font-size: 17rem/16;
}

.c-f16 {
  font-size: 1rem;
}