@import 'settings/colors';
@import 'settings/imgs';
@import 'settings/fonts';
@import 'settings/break-points';

// pc
@media screen and (min-width: $pc-min-width) {
  .p-newsSection {
    ul.p-newsList {
      margin: 25px auto 40px;
    }
  }

  .p-kodawariHistorySection {
    .p-kodawariBox {
      margin-bottom: 3em;
  
      &:not(.u-block) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        &:nth-child(odd) {
          .p-kodawariParagraphBox {
            padding-right: 1em;
          }
        }

        &:nth-child(even) {
          flex-flow: row-reverse;
  
          .p-kodawariParagraphBox {
            padding-left: 2em;
          }
        }
  
        .p-kodawariParagraphBox {
          width: 40%;
          box-sizing: border-box;
        }
    
        figure {
          width: 60%;
        }
      }
  
      &.u-block {
        display: block;
      }
  
      p {
        margin: 1rem 0;
        font-size: 1.2rem;
      }
    }
  }

  .p-menuSection {
    .p-sp-menuZone {
      display: none;
    }
  
    .p-pc-menuZone {
      margin: 1em;
  
      .p-menuRowBox {
        display: flex;
        column-gap: 1em;
        margin-bottom: 1em;
  
        figure {
          figcaption {
            font-size: 1.5rem;
            font-family: $header-font;
            color: #fff;
          }
        }
      }
    }
  }

  .p-salesInfoSection {
    .p-infoContents {
      display: flex;
      justify-content: center;
      align-items: center;

      .p-infoTextArea {
        padding: 0 1em;
        border-left: 1px solid #aaa;
        margin-left: 2em;

        h3 {
          font-size: 1.4rem;
          margin: .7em 0;
        }
      
        p {
          font-size: 1.2rem;
          margin: .8em 0;
          padding-left: 1em;
        }
      
        ul {
          font-size: 1.2rem;
          margin: 1em 0;
        }
      }
    }
  }
}

// sp, tablet
@media screen and (max-width: $pc-min-width) {
  .p-newsSection {
    ul.p-newsList {
      margin: 25px auto;
    }
  }

  .p-kodawariHistorySection {
    .p-kodawariZone {
      p {
        font-size: 14rem/16;
  
        &.c-indent {
          margin-left: 2rem;
        }
    
        &.c-beforeDash {
          margin-left: -2.5rem;
        }
    
        &.c-beforeDash::before {
          content: '──';
          margin-right: .5rem;
        }
    
        &.c-afterDash::after {
          content: '──';
          margin-left: .5rem;
        }
      }
    }
  }

  .p-menuSection {
    .p-sp-menuZone {
      margin: 25px 0;
  
      img {
        width: 100%;
      }
    }
  
    .p-pc-menuZone {
      display: none;
    }
  }

  .p-salesInfoSection {
    .p-infoTextArea {
      width: 315px;
      margin: auto;

      h3 {
        font-size: 17rem/16;
        margin: 10em/17 0 5em/17;
      }
    
      p {
        font-size: 15rem/16;
        margin: 5em/16 1.5em;
      }
    
      ul {
        font-size: 15rem/16;
        margin: 5em/16 0;
      }
    }
  }
}

.p-mainContent {
  .l-wrapper {
    margin: 0 auto;
    width: clamp(375px, 70%, 1000px);
  }

  img {
    width: 100%;
    height: auto;
    aspect-ratio: 202/135;
  }

  .p-toDetail {
    width: 170px;
    margin: 2.5em auto 0;
    text-align: center;
    font-size: 1rem;
    line-height: 30rem/16;
    border: $main-black 1px solid;

    a {
      display: block;
      text-decoration: none;
      color: $main-black;

      i {
        margin-left: 1rem;
      }
    }
  }

  .p-topSlideArea {
    ul.p-topImgSlide {
      margin: 0;
      padding: 0;
      line-height: 0;
    }
  }

  .p-newsSection {
    padding: 15px 0 30px;
    background-image: $bg-img-gray;

    ul.p-newsList {
      list-style-type: none;
      padding: 0;

      li {
        margin-bottom: 15px;
      }

      article {
        border-bottom: $border-gray 1px solid;

        h3.c-newsTitle {
          font-size: 17px;
          margin: 5px 0;
        }

        p {
          margin: 5px 0;
        }
      }
    }
  }

  .p-kodawariHistorySection {
    background-image: $bg-img-green;
    color: #fff;
    padding: 10px 0 30px;

    .p-kodawariZone {
      margin: 25px 0;

      p, figure {
        margin: .3rem 0 .5rem;
      }

      p {
        font-weight: bold;
      }

      figure {
        img {
          width: 100%;
        }
      }
    }

    .p-toAllKodawariHistory {
      border-color: #fff;

      a {
        color: #fff;
      }
    }
  }

  .p-menuSection {
    background-image: $bg-img-brown;
    color: #fff;
    padding: 20px 0 42px;

    .p-toAllMenu {
      border-color: #fff;

      a {
        color: #fff;
      }
    }
  }

  .p-salesInfoSection {
    background-image: $bg-img-gray;
    padding: 30px 0;

    .p-calenderArea {
      margin: 25px 0;
      text-align: center;

      iframe {
        width: 375px;
        height: 400px;
      }
    }

    .p-infoTextArea {
      p {
        font-weight: bold;
      }

      ul {
        font-weight: bold;
      }
    }
  }

  figure {
    margin: 0;
    text-align: center;
    position: relative;
    line-height: 0;

    img {
      width: 100%;
    }

    &.u-withNotice {
      &::after {
        content: '?';
        position: absolute;
        right: 0;
        font-size: 1.1rem;
        background-color: #0C5600;
        width: 28px;
        height: 28px;
        display: block;
        bottom: 0;
        line-height: 1.5;
        border-radius: 50%;
        margin: 0.2rem;
        opacity: .8;
      }

      figcaption {
        animation-name: figcaptionFadeOut;
        animation-duration: .5s;
        animation-fill-mode: forwards;
      }

      &:hover,
      &:active {
        figcaption {
          opacity: 0;
          animation-name: figcaptionFadeIn;
          animation-duration: .5s;
          animation-fill-mode: forwards;
        }

        &::after {
          opacity: 0;
        }
      }
    }

    figcaption {
      font-size: 13rem/16;
      position: absolute;
      left: 0;
      bottom: 0.3rem;
      width: 100%;
      backdrop-filter: blur(10px);
      line-height: 1.5;
    }
  }
}