@import 'settings/colors';
@import 'settings/imgs';

.p-mainContent {
  .l-wrapper {
    margin: 0 auto;
    width: 315px;
  }

  img {
    width: 100%;
    height: auto;
    aspect-ratio: 202/135;
  }

  .p-toDetail {
    width: 170px;
    margin: 10px auto;
    text-align: center;
    font-size: 1rem;
    line-height: 30rem/16;
    border: $main-black 1px solid;

    a {
      display: block;
      text-decoration: none;
      color: $main-black;

      i {
        margin-left: 1rem;
      }
    }
  }

  .p-topSlideArea {
    ul.p-topImgSlide {
      margin: 0;
      padding: 0;
      line-height: 0;
    }
  }

  .p-newsSection {
    padding: 15px 0 30px;
    background-image: $bg-img-gray;

    ul.p-newsList {
      list-style-type: none;
      margin: 25px auto;
      padding: 0;

      li {
        margin-bottom: 15px;
      }

      article {
        border-bottom: $border-gray 1px solid;

        .p-newsDate {
          color: $date-gray;
        }

        h3.p-newsTitle {
          font-size: 17px;
          margin: 5px 0;
        }

        p {
          margin: 5px 0;
        }
      }
    }
  }

  .p-kodawariHistorySection {
    background-image: $bg-img-green;
    color: #fff;
    padding: 10px 0 30px;

    .p-kodawariZone {
      margin: 25px 0;

      p, figure {
        margin: .3rem 0 .5rem;
      }

      p {
        font-weight: bold;
        font-size: 14rem/16;

        &.c-indent {
          margin-left: 2rem;
        }

        &.c-beforeDash {
          margin-left: -2.5rem;
        }

        &.c-beforeDash::before {
          content: '──';
          margin-right: .5rem;
        }

        &.c-afterDash::after {
          content: '──';
          margin-left: .5rem;
        }
      }

      figure {
        img {
          width: 100%;
        }
      }
    }

    .p-toAllKodawariHistory {
      border-color: #fff;

      a {
        color: #fff;
      }
    }
  }

  .p-menuSection {
    background-image: $bg-img-brown;
    color: #fff;
    padding: 20px 0 42px;

    .p-menuZone {
      margin: 25px 0;

      img {
        width: 100%;
      }
    }

    .p-toAllMenu {
      border-color: #fff;

      a {
        color: #fff;
      }
    }
  }

  .p-salesInfoSection {
    background-image: $bg-img-gray;
    padding: 30px 0;

    .p-calenderArea {
      margin: 25px 0;
      text-align: center;

      iframe {
        width: 375px;
        height: 400px;
      }
    }

    .p-infoTextArea {
      width: 315px;
      margin: auto;

      h3 {
        font-size: 17rem/16;
        margin: 10em/17 0 5em/17;
      }

      p {
        font-weight: bold;
        font-size: 15rem/16;
        margin: 5em/16 1.5em;
      }

      ul {
        font-size: 15rem/16;
        margin: 5em/16 0;
        font-weight: bold;
      }
    }
  }

  figure {
    margin: 0;
    text-align: center;
    position: relative;
    line-height: 0;

    img {
      width: 100%;
    }

    figcaption {
      opacity: 0;
      font-size: 13rem/16;
      position: absolute;
      left: 0;
      bottom: 0.3rem;
      width: 100%;
      backdrop-filter: blur(10px);
      animation-name: figcaptionFadeOut;
      animation-duration: .5s;
      animation-fill-mode: forwards;
      line-height: inherit;
      line-height: 1.5;
    }

    &::after {
      content: '?';
      position: absolute;
      right: 0;
      font-size: 1.1rem;
      background-color: #0C5600;
      width: 28px;
      height: 28px;
      display: block;
      bottom: 0;
      line-height: 1.5;
      border-radius: 50%;
      margin: 0.2rem;
      opacity: .8;
    }

    &:hover,
    &:active {
      figcaption {
        animation-name: figcaptionFadeIn;
        animation-duration: .5s;
        animation-fill-mode: forwards;
      }

      &::after {
        opacity: 0;
      }
    }
  }
}