@import 'parts/hamburger-menu';
@import 'settings/sizes';
@import 'settings/break-points';

@keyframes disappear {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(-100px);
  }
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

// PC
@media screen and (min-width: $pc-min-width) {
  header {
    justify-content: space-around;
  
    .p-pc-headerNavigation {
      display: block;

      ul {
        height: 100%;
        line-height: $header-height;
        display: flex;
        font-size: 1rem;
        gap: 2em;

        a.c-navLink {
          color: $main-green;
          font-size: 1rem;
          font-weight: bold;
        }

        img {
          height: $header-height/3;
          margin: $header-height/3 0;
        }
      }
    }
    
    .p-sp-headerIconList {
      display: none;
    }
  }
}

// SP, Tablet
@media screen and (max-width: $pc-min-width) {
  header {
    justify-content: center;

    .p-pc-headerNavigation {
      display: none;
    }

    .p-sp-headerIconList {
      display: flex;
    }
  }
}

header {
  // 固定
  position: fixed;
  width: 100%;
  top: 0;
  background: #fff;

  &.disappear {
    animation: disappear 0.5s forwards;
  }

  &.appear {
    animation: appear 0.5s forwards;
  }

  display: flex;
  height: $header-height;
  z-index: 10;

  .c-topLogoHeader,
  .c-pageLogoHeader {
    margin: 0;
    
    img {
      margin: 16px 0;
    }
  }

  ul.p-sp-headerIconList {
    height: $header-height;
    position: absolute;
    right: 0;

    li {
      margin-right: 5px;

      a {
        display: block;
      }

      button.c-hamburger {
        background-color: transparent;
        border: none;
        padding: 0;
      }
    }

    img {
      height: $header-height/3;
      margin: $header-height/3 0;
    }
  }
}
