@import 'parts/hamburger-menu';
@import 'settings/sizes';

@keyframes disappear {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(-100px);
  }
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

header {
  // 固定
  position: fixed;
  width: 100%;
  top: 0;
  background: #fff;

  &.disappear {
    animation: disappear 0.5s forwards;
  }

  &.appear {
    animation: appear 0.5s forwards;
  }

  display: flex;
  justify-content: center;
  height: $header-height;
  z-index: 10;

  .c-topLogoHeader,
  .c-pageLogoHeader {
    margin: 0;
    
    img {
      margin: 16px 0;
    }
  }


  ul.p-headerIconList {
    height: $header-height;
    display: flex;
    position: absolute;
    right: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      margin-right: 5px;

      a {
        display: block;
      }

      button.c-hamburger {
        background-color: transparent;
        border: none;
        padding: 0;
      }
    }

    img {
      margin: 30px 0;
    }
  }
}