@import 'settings/imgs';
@import 'settings/colors';
@import 'settings/break-points';

.l-contentWrapper {
  width: clamp(335px, 90%, 1200px);
}

.l-siteMain {
  background-image: $bg-img-brown;
  color: #fff;

  .p-allMenu {
    padding: 20px 0;

    .p-menuArea:not(:first-child) {
      margin-top: 3rem;
    }

    h2.c-menuHeader {
      position: relative;
      margin: .7em 0 0;
      padding: .5em .3em .4em;
      writing-mode: vertical-rl;
      border: 1px solid #fff;
      letter-spacing: .25em;
      
      &::after {
        content: '──';
        position: absolute;
        letter-spacing: 0;
        font-size: 1em;
      }
    }

    img {
      display: block;
      width: 80%;
      height: auto;
    }

    .c-menuList {
      background: rgba(165, 165, 165, 0.2);
      border: .5px solid $border-gray-2;
      border-radius: 10rem/16;

      li {
        margin-bottom: .3em;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    .p-otherMenu {
      .c-otherMenuHeader {
        text-align: center;
      }

      ul.c-otherMenuList {
        border: inherit;
        border-radius: inherit;
        background: inherit;
      }
    }
  }
}


// pc
@media screen and (min-width: $pc-min-width) {
  .p-allMenu {
    max-width: 1200px;
    margin: auto;
  }

  .p-menuArea {
    display: flex;
    gap: 2em;
    align-items: center;

    &:nth-child(even) {
      flex-flow: row-reverse;

      .p-menuHeaderAndImg {
        flex-flow: row-reverse;
      }
    }

    .p-menuHeaderAndImg {
      width: 70%;
      display: flex;
      gap: 2em;

      .c-menuHeader {
        height: fit-content;
        font-size: 1.5rem;

        &.u-floatRight,
        &.u-floatLeft {
          float: inherit;
        }
      }

      img {
        flex-grow: 1;

        &.u-leftMarginAuto,
        &.u-rightMarginAuto {
          margin: 0;
        }
      }
    }

    .p-menuListArea {
      width: 30%;

      .c-menuList {
        padding: 0.5em 1em 0.5em 2.5em;

        li {
          font-size: 1.2rem;
        }
      }
    }

    &.p-otherMenu {
      justify-content: center;
    }
  }
}

// sp, tablet
@media screen and (max-width: $pc-min-width) {
  .c-menuHeader {
    font-size: 1.2rem;
  }

  .c-menuList {
    padding: .5em 1em .5em 2em;

    li {
      font-size: 1rem;
    }
  }
}