@import 'settings/imgs';
@import 'settings/colors';
@import 'settings/fonts';


.l-siteMain {
  background-image: $bg-img-gray;
  padding-bottom: 2rem;
}

.l-contentWrapper {
  width: clamp(335px, 85%, 800px);
  margin: auto;
}

article {
  padding: 30px 0;

  .c-newsHeader {
    font-size: 24rem/16;
    font-family: $header-font;
    margin: .5em 0 .2em;
    line-height: 1.8;

    &::after {
      content: '';
      display: block;
      border-bottom: 4px double;
    }
  }

  .c-newsPublishedDate {
    display: block;
    text-align: right;
  }

  p {
    font-size: 1rem;
  }

  img {
    display: block;
    margin: auto;
    width: 70%;
    min-width: 300px;
    height: auto;
    border-radius: 15px;
  }
}

button.c-toNewsArchive {
  display: block;
  margin: auto;
  padding: 0;
  border: none;
  background: none;
  
  a {
    display: block;
    font-size: 1.05rem;
    color: $main-black;
    text-decoration: underline;
    padding: 1em;
  }
}